.img-lado {
  position: fixed;
  top: 3vh;
  left: 3vw;
  width: 35vw;
  max-width: 500px;
  height: auto;
  max-height: 80vh;
  object-fit: cover;
  transform: scale(1.0);
  transform-origin: top left; 
  transition: all 0.3s ease-in-out;
}

.Area-Cadastro {
  margin-left: calc(40vw + 50px);
  width: calc(100% - (40vw + 50px));
  min-height: 100vh;
  background-color: #053bcf;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 50px;
  box-sizing: border-box;
}

input {
  width: 500px;
  max-width: 90%;
  height: 70px;
  outline: none;
  border: none;
  text-align: center;
  border-radius: 30px;
  margin: 6px 0;
}

.Pergunta {
  display: flex;
  align-items: center;
  color: white;
}

.Realizar-Login {
  border: none;
  width: 100px;
  height: 30px;
  margin-left: 10px;
  cursor: pointer;
}

.Efetuar-Cadastro {
  background-color: rgb(4, 160, 4);
  color: white;
  border: none;
  width: 250px;
  max-width: 80%;
  height: 50px;
  border-radius: 30px;
  margin-top: 30px;
  margin-left: 10px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .img-lado {
    width: 36vw;
    max-width: 450px;
    transform: scale(1.05);
  }

  .Area-Cadastro {
    margin-left: calc(38vw + 40px);
    width: calc(100% - (38vw + 40px));
  }
}

@media (max-width: 900px) {
  .img-lado {
    width: 35vw;
    max-width: 400px;
    transform: scale(1.05);
  }

  .Area-Cadastro {
    margin-left: calc(35vw + 30px);
    width: calc(100% - (35vw + 30px));
    padding-top: 40px;
  }
}

@media (max-width: 900px) {
  .img-lado {
    display: none;
  }

  .Area-Cadastro {
    margin-left: 0;
    width: 100vw;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
  }

  input {
    width: 90%;
  }

  .Efetuar-Cadastro {
    width: 80%;
  }
}

@media (max-width: 480px) {
  input {
    width: 95%;
    height: 60px;
  }

  .Efetuar-Cadastro {
    width: 90%;
    height: 45px;
  }

  .Realizar-Login {
    width: 80px;
    height: 28px;
  }
}
