.Criacao-Projetos {
  background-color: white;
  width: 600px;
  height: 600px;
  border-radius: 20px;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;    
  gap: 1px; 
  position: relative;
}

input {
  width: 450px; 
  height: 65px; 
  text-align: center;
  border-radius: 10px;
  margin: 1px 0;
}

.Criar-Projeto {
  position: relative;
  width: 450px;
  height: 55px;
  background-color: rgb(4, 160, 4);
  color: white;
  border: none;
  cursor: pointer;
  top: 10px;
}

.Fechar-Janela {
  position: absolute;
  top: 9px;          
  right: 11px;
  font-size: 30px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

#Nome-Projeto {
  position: relative;
  top: 0;
  right: 0;
}

#Nome-Representante {
  position: relative;
  top: 0;
}

#Email-Representante {
  position: relative;
  top: 0;
}

#Previsao-Termino {
  position: relative;
  top: 0;
}
