.Adicionar-Botoes{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: rgb(7, 168, 7);
    color: white;
    font-size: 80px;
    text-align: center;
    margin-left: 1035px;
}

.Novos-Botoes {
    width: 400px;
    height: 450px;
    padding: 10px 20px;
    margin-bottom: 15px;
    border: none;
    cursor: pointer;
    display: inline-block; 
    margin-right: 15px; 
}
body {
    display: flex;
    gap: 15px;
}
div{
    display: inline-block;  
}

