<button class="Adicionar-Botoes" (click)="PaginaProjetos()">+</button>
<div class="pessoa-cadastrada">
    <div class="Menu-Icone">
        <button id="Menu" (click)="MenuPrincipal()">
            <img src="/Img_Menu.png" class="Img-Menu">
        </button>     
    </div>
    <div id="Nome-Pessoa">
        <p id="#nome">olá,{{nomeUsuario}}</p>
    </div>
</div>
<div *ngFor="let btn of Botoes">
    <button class="Novos-Botoes" (click)="router.navigate(['inicio', btn.id])">{{btn.label}}</button>
</div>

<div *ngIf="existeBotaoComId(1, 20)"></div>