.Adicionar-Botoes{
  position: fixed;
  bottom: 20px;    
  right: 8px;  
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #00b300;
  color: white;
  font-size: 42px;
  border:0;
  font-weight: bolder;
  cursor: pointer;
}
.Adicionar-Botoes:hover{
    box-shadow: 0 0 50px rgba(50, 110, 0, 0.781);
}

.pessoa-cadastrada {
    left: 0;
    width: 100%;
    background-color: #0047A9; 
    height: 55px; 
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;       
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
    box-shadow: 0 0 19px black;
}

p{
    font-size: 20px;
    color: white;
}
.Novos-Botoes {
    width: 400px;
    height: 450px;
    padding: 10px 20px;
    margin-bottom: 15px;
    border: none;
    cursor: pointer;
    display: inline-block; 
    margin-right: 15px;
    margin-top: 100px;
    border-radius: 20px;
    margin-left: 80px;
    
}
.Novos-Botoes:hover{
    box-shadow: 0 0 10px rgba(30, 30, 190, 0.781);
}
body {
    display: flex;
    gap: 15px;
}
div{
    display: inline-block;  
}
#Nome-Pessoa{
    position: absolute;
    right: 0;
}

#Menu-Principal{
    font-size: 25px;
    background-color: rgba(255, 235, 205, 0);
    color: white;
    background-color:#0047A9 ;
    border: 0;
    position: fixed;
    right: 1480px;
    top: 15px;
}

.Img-Menu{
    width: 40px;
    height: 40px;
}
#Menu{
    position: absolute;
    background-color: rgba(0, 255, 255, 0);
    justify-content: flex-start;
    align-items: flex-start;   
    top: 5px;
    border: 0;
    left: 0;
    cursor: pointer;

}
#Menu:hover{
    background-color: rgba(255, 255, 255, 0.301);
    border-radius: 15%;
    width: 55px;
    height: 50px;
}