.Adicionar-Botoes{
  position: fixed;
  bottom: 20px;    
  right: 5px;  
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #00b300;
  color: white;
  font-size: 32px;
  border:0;
  cursor: pointer;
}
.Adicionar-Botoes:hover{
    border: 3px solid rgba(5, 21, 196, 0.769);
}

.pessoa-cadastrada {
    position: fixed;
    left: 0;
    width: 100%;
    background-color: #0047A9; 
    height: 55px;              
    display: flex;
    justify-content: flex-end; 
    align-items: center;       
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
    border-bottom: 2px solid #0000005e;
}

p{
    font-size: 20px;
    color: white;
}
.Novos-Botoes {
    width: 400px;
    height: 450px;
    padding: 10px 20px;
    margin-bottom: 15px;
    border: none;
    cursor: pointer;
    display: inline-block; 
    margin-right: 15px;
    margin-top: 100px;
    border-radius: 20px;
    margin-left: 80px;
    
}
body {
    display: flex;
    gap: 15px;
}
div{
    display: inline-block;  
}
#Menu-Principal{
    font-size: 25px;
    background-color: rgba(255, 235, 205, 0);
    color: white;
    background-color:#0047A9 ;
    border: 0;
    position: fixed;
    right: 1480px;
    top: 15px;
}

.Img-Menu{
    width: 40px;
    height: 40px;
}
#Menu{
    position: absolute;
    background-color: rgba(0, 255, 255, 0);
    right: 1537px;
    top: 5px;
    border: 0;
    left: 0;
    cursor: pointer;
}
#Menu:hover{
    background-color: rgba(255, 255, 255, 0.301);
    border-radius: 15%;
    width: 50px;
    height: 50px;
}