.Adicionar-Botoes{
  position: fixed;
  bottom: 20px;    
  right: 20px;  
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #00b300;
  color: white;
  font-size: 32px;
}


.pessoa-cadastrada {     
    width: 100%;
    background-color: #0047A9; 
    height: 55px;              
    display: flex;
    justify-content: flex-end; 
    align-items: center;       
    padding-right: 20px;       
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
    border-bottom: 2px solid #ffffff;
}

p{
    font-size: 20px;
    color: white;
}
.Novos-Botoes {
    width: 400px;
    height: 450px;
    padding: 10px 20px;
    margin-bottom: 15px;
    border: none;
    cursor: pointer;
    display: inline-block; 
    margin-right: 15px; 
}
body {
    display: flex;
    gap: 15px;
}
div{
    display: inline-block;  
}

