.img-lado {
  position: fixed;
  top: 3vh;
  left: 3vw;
  width: 35vw;
  max-width: 500px;
  height: auto;
  max-height: 80vh;
  object-fit: cover;
  transform: scale(1.0);
  transform-origin: top left; 
  transition: all 0.3s ease-in-out;
}


.caixa1 {
  margin-left: calc(40vw + 50px);
  width: calc(100% - (40vw + 50px));
  min-height: 100vh;
  background-color: #053bcf;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

input {
  width: 500px;
  max-width: 90%;
  height: 70px;
  outline: none;
  border: none;
  text-align: center;
  border-radius: 30px;
  margin: 6px 0;
}

.linha {
  display: flex;
  align-items: center;
  color: white;
}

.botao-cadastro {
  border: none;
  width: 100px;
  margin-left: 10px;
  height: 30px;
  cursor: pointer;
}

.Entrar {
  background-color: rgb(4, 160, 4);
  color: white;
  border: none;
  width: 250px;
  max-width: 80%;
  height: 50px;
  border-radius: 30px;
  margin-top: 30px;
  cursor: pointer;
}

@media (max-width: 900px) {
  .img-lado {
    display: none;
  }

  .caixa1 {
    margin-left: 0;
    width: 100vw;
    padding: 60px 15px 30px 15px;
  }

  input {
    width: 90%;
  }

  .Entrar {
    width: 80%;
  }
}

@media (max-width: 480px) {
  input {
    height: 60px;
  }

  .Entrar {
    height: 45px;
  }
}
