.Criacao-Tarefas{
  background-color: white;
  width: 600px;
  height: 400px;
  border-radius: 20px;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;    
  gap: 4px;
  position: relative;   
}
input {
  width: 400px;
  height: 50px;
  text-align: center;
  border-radius: 10px;
  position: relative;
  bottom: 30px;
}
.Criar-Tarefa {
  width: 400px;
  height: 50px;
  background-color: rgb(4, 160, 4);
  color: white;
  position: relative;
  bottom: 30px;
  border: none;
  cursor: pointer;
}
.Fechar-Janela {
  position: absolute;
  top: 9px;          
  right: 11px;
  font-size: 30px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
#Nome-Tarefa{
  position: relative;
  bottom: 22px;
}