.Adicionar-CheckBox{
    position: fixed;
    bottom: 20px;    
    right: 20px;  
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #00b300;
    color: white;
    font-size: 32px;
}
.navbar{
    width: 100%;
    background-color: #0047A9; 
    height: 55px;              
    display: flex;
    justify-content: flex-end; 
    align-items: center;       
    padding-right: 20px;       
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
    border-bottom: 2px solid #ffffff;
}
.Sair {
    position: relative;
    background-color: #0046a900;
    border: none;
    color: white;
    cursor: pointer;
    right: 1550px
}
.Cor-Fundo{
    position: relative;
    background-color: gray;
    width: 500px;
    color: white;
    border-radius: 5px;
    left: 500px;
    top: 90px;
    text-align: center;
}